* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --text: #171412;
    --background: #f8f7f6;
    --primary: #d3d1c5;
    --secondary: #d7dde0;
    --accent: #666a85;
    --container-width: 1400px;
}

body {
    color: var(--text);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--secondary);
}

.header {
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: center;

}

.heading {
    padding: 1rem;
    max-width: var(--container-width);
    flex: 1;
}

.main  {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
    width: 100vw;
    overflow: auto;
    max-width: var(--container-width);
    background-color: var(--secondary);
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--background);
}

.books {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    grid-template-rows: auto;
    overflow: scroll;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    background-color: var(--background);
    padding: 1rem;
    border-radius: 0.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    font-size: 1.2rem;
    border: none;
    border-radius: .25rem;
    padding: 0.5rem 1.5rem;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

button.add-book {
    font-weight: bold;
    background-color: var(--secondary);
}

button.remove {
    background-color: var(--accent);
    color: var(--background)
}

button.read {
    background-color: lightgreen;
}

button.unread {
    background-color: rgb(244, 155, 155);
}

.book p {
    text-align: center;
}

dialog[open] {
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  form input {
    font-size: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  dialog p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }

  dialog button {
    width: 100%;
  }